.rc-h-48 {
    height: 7rem;
  }

  .rc-max-h-36 {
    max-height: 5rem;
  }
  .rc-max-h-96{
      max-height: 30vh;
  }
.buttons{
    display: flex;
    justify-content: center;
    margin-bottom: 1.5rem;
}
.icsFileContainer{
    display: flex;
}
.icsButton{
    width: 200;
    position: absolute;
    top:3%
}