@media (min-width: 200px) and (max-width: 480px) {
.venueContainer {
    margin-left: 1rem;
    margin-right: 1rem;
    display:flex;
    flex-direction: column;
    


}
}
.spinner{
    display: flex;
    justify-content: center;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
}
.venueContainer {
   
    display:flex;
    justify-content: center;


}
.concertList{   

   
    font-size:19px;
    
    
    
}
.calenderLine{
    outline-style: solid;
    
}
.break{
    display: inline-flex;
}
.venueChips{
    display: 'flex';
    justify-content: 'center';
    flex-wrap: 'wrap';
    margin:2rem;
   
}