

body{
  background-color: #f5d06a;

}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
 

}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.pageTitle {
  top:0%;
  margin-top:1.5rem;
  margin-bottom: 3rem;
  display: flex;
  justify-content: center;
  
  
  
}
.pageDate {
  font-style: italic;
}
.App-header {
  
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}
.content{
  min-height: calc(100vh - 50px);
  
}
.footer{
height: 50px;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
